# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Exercises Solutions
solutions/
lessons/lesson_2_code.py
lessons/lesson_2_results.txt
lessons/lesson_3_code.py
lessons/lesson_3_results.txt


# Slides Materials
materials/


# VS Code
.vscode/